//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_1")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            .row.row-flex.justify-content-center
            p.
                There are several new employees coming from abroad to work in your company. They are concerned about living a healthy lifestyle while living in Colombia.#[br]#[br]
                Give them some advice, please speak as if you are actually giving advice to someone who knows nothing about Colombia, its traditions and foods.#[br]#[br]
            h5 Explain the traditional meals in Colombia, record your answers below.
            div(class="row mt50 row-flex")
                div(class="col xs12 sm6 mt20"): div(class="align-items-center flex ta-c ")
                    span(class="xs3 ") Breakfast
                    span(class="xs6 c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod4_act5a',1)")

                        div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                        |
                        div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                            div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                    type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                    ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                    span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                    //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                    span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                        sub seg.
                                |
                                button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                    type="button"
                                    ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                    ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                    ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                    span(ng-if="recorder.status.isPaused || recorder.status.isStopped"): span Send
                                    span(ng-if="recorder.status.isPlaying"): span pause
                div(class="col xs12 sm6 mt20"): div(class="align-items-center flex ta-c ")
                    span(class="xs3 ") Dinner
                    span(class="xs6 c-ngRecorder" ng-audio-recorder id="mainAudio_b" time-limit='120' audio-model="audio_2" on-playback-start="guardarRecord('unt1_mod4_act5b',1)")

                        div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                        |
                        div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                            div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                    type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                    ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                    span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                    //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                    span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                        sub seg.
                                |
                                button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                    type="button"
                                    ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                    ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                    ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                    span(ng-if="recorder.status.isPaused || recorder.status.isStopped"): span Send
                                    span(ng-if="recorder.status.isPlaying"): span pause
                div(class="col xs12 sm6 mt20"): div(class="align-items-center flex ta-c ")
                    span(class="xs3 ") Lunch
                    span(class="xs6 c-ngRecorder" ng-audio-recorder id="mainAudio_c" time-limit='120' audio-model="audio_3" on-playback-start="guardarRecord('unt1_mod4_act5c',1)")

                        div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                        |
                        div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                            div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                    type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                    ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                    span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                    //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                    span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                        sub seg.
                                |
                                button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                    type="button"
                                    ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                    ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                    ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                    span(ng-if="recorder.status.isPaused || recorder.status.isStopped"): span Send
                                    span(ng-if="recorder.status.isPlaying"): span pause
                div(class="col xs12 sm6 mt20"): div(class="align-items-center flex ta-c ")
                    span(class="xs3 ") Snacks
                    span(class="xs6 c-ngRecorder" ng-audio-recorder id="mainAudio_d" time-limit='120' audio-model="audio_4" on-playback-start="guardarRecord('unt1_mod4_act5d',1)")

                        div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                        |
                        div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                            div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                    type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                    ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                    span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                    //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                    span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                        sub seg.
                                |
                                button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                    type="button"
                                    ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                    ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                    ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                    span(ng-if="recorder.status.isPaused || recorder.status.isStopped"): span Send
                                    span(ng-if="recorder.status.isPlaying"): span pause
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")