//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_13" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        |
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")

            div(class="row row-flex flex-column align-items-center justify-between")

                div(class="col xs12"): h6 When asking for someone’s opinion on a particular topic or situation, you can use any of these expressions:
                div(class="col xs12 md9")
                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent u-textColor_1")
                            p.ta-l.mt20.lh35.
                                #[strong • ] What do you think (about)…? #[br]
                                #[strong • ] What’s your opinion (on)…? #[br]
                                #[strong • ] What are your thoughts/views (on)...? #[br]
                                #[strong • ] Do you agree (with)...? #[br]
                            div(class="row mt20 row-flex justify-center")
                                |
                                div(class="row"): hr
                                |
                                div(class="col xs12 sm6 ta-c")
                                    p: button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_3/module_10/assets/audios/act_13_1.mp3")
                                    p #[strong • ] I really don’t like the proposals given at the meeting. What do you think about them?
                                div(class="col xs12 sm6 ta-c")
                                    p: button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_3/module_10/assets/audios/act_13_2.mp3")
                                    p #[strong • ] What’s your opinion on the latest fashion trends?
                                |
                                div(class="row"): hr
                                |
                                div(class="col xs12 sm6 ta-c")
                                    p: button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_3/module_10/assets/audios/act_13_3.mp3")
                                    p #[strong • ] Vivienne Westwood’s new collection lacks imagination. What are your views on it?
                                div(class="col xs12 sm6 ta-c")
                                    p: button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_3/module_10/assets/audios/act_13_4.mp3")
                                    p #[strong • ] Do you agree with fashion models getting more money?
        |
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
            div(class="row")
                div(class="col xs12 md10")
                    h4 Activity
                    h6 Based on each situation, ask people what their opinion is.
                        blockquote.
                            Eg: Making it mandatory to learn a second language.
                            #[br]
                            Response:  What’s your opinion on making it mandatory to learn a second a language?

                    |
                    hr
                    |
                    div(class="row mt20")
                        div(class="col xs12 md7")
                            p #[strong(class="u-textColor_4") A. ] High school children not receiving homework.
                        div(class="col xs12 md5"): div(class="row flex")
                            span #[strong(class="u-textColor_4") • ] response:
                            div(class="c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt3_mod10_act13a',1)")

                                    div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                    |
                                    div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                        div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                            button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                                type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                                ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                                span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                                //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                                span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                                    sub seg.
                                            |
                                            button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                                type="button"
                                                ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                                ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                                ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                                span(ng-if="recorder.status.isPaused || recorder.status.isStopped")
                                                    span play
                                                span(ng-if="recorder.status.isPlaying")
                                                    span pause
                    |
                    hr
                    |
                    div(class="row mt20")
                        div(class="col xs12 md7")
                            p #[strong(class="u-textColor_4") B. ] Women getting the same pay as men.
                        div(class="col xs12 md5"): div(class="row flex")
                            span #[strong(class="u-textColor_4") • ] response:
                            div(class="c-ngRecorder" ng-audio-recorder id="mainAudio_b" time-limit='120' audio-model="audio_2" on-playback-start="guardarRecord('unt3_mod10_act13b',2)")

                                    div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                    |
                                    div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                        div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                            button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                                type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                                ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                                span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                                //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                                span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                                    sub seg.
                                            |
                                            button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                                type="button"
                                                ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                                ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                                ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                                span(ng-if="recorder.status.isPaused || recorder.status.isStopped")
                                                    span play
                                                span(ng-if="recorder.status.isPlaying")
                                                    span pause
                    |
                    hr
                    |
                    div(class="row mt20")
                        div(class="col xs12 md7")
                            p #[strong(class="u-textColor_4") C. ] Longer vacation time for teachers.
                        div(class="col xs12 md5"): div(class="row flex")
                            span #[strong(class="u-textColor_4") • ] response:
                            div(class="c-ngRecorder" ng-audio-recorder id="mainAudio_c" time-limit='120' audio-model="audio_3" on-playback-start="guardarRecord('unt3_mod10_act13c',3)")

                                    div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                    |
                                    div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                        div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                            button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                                type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                                ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                                span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                                //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                                span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                                    sub seg.
                                            |
                                            button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                                type="button"
                                                ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                                ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                                ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                                span(ng-if="recorder.status.isPaused || recorder.status.isStopped")
                                                    span play
                                                span(ng-if="recorder.status.isPlaying")
                                                    span pause
                    |
                    hr
                    |
                    div(class="row mt20")
                        div(class="col xs12 md7")
                            p #[strong(class="u-textColor_4") D. ] Having university students get their degrees in a shorter period of time.
                        div(class="col xs12 md5"): div(class="row flex")
                            span #[strong(class="u-textColor_4") • ] response:
                            div(class="c-ngRecorder" ng-audio-recorder id="mainAudio_d" time-limit='120' audio-model="audio_4" on-playback-start="guardarRecord('unt3_mod10_act13d',4)")

                                    div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                    |
                                    div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                        div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                            button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                                type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                                ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                                span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                                //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                                span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                                    sub seg.
                                            |
                                            button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                                type="button"
                                                ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                                ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                                ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                                span(ng-if="recorder.status.isPaused || recorder.status.isStopped")
                                                    span play
                                                span(ng-if="recorder.status.isPlaying")
                                                    span pause
                    |
                    hr
                    |
                    div(class="row mt20")
                        div(class="col xs12 md7")
                            p #[strong(class="u-textColor_4") E. ] Politicians being paid based on how effective they are in their work.
                        div(class="col xs12 md5"): div(class="row flex")
                            span #[strong(class="u-textColor_4") • ] response:
                            div(class="c-ngRecorder" ng-audio-recorder id="mainAudio_e" time-limit='120' audio-model="audio_5" on-playback-start="guardarRecord('unt3_mod10_act13e',5)")
                                    div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                    |
                                    div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                        div(class="c-ngRecorder-controls ta-c" ng-hide="recorder.status.isDenied === true")
                                            button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()"
                                                type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord"
                                                ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                                span {{recorder.status.isRecording ? 'Stop' : 'Start '}}
                                                //- span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                                span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}}
                                                    sub seg.
                                            |
                                            button(class="c-btn-Icon c-ngRecorder-controls--btnListen"
                                                type="button"
                                                ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}"
                                                ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                                                ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                                span(ng-if="recorder.status.isPaused || recorder.status.isStopped")
                                                    span play
                                                span(ng-if="recorder.status.isPlaying")
                                                    span pause
    |
    |
    aside(class="template-asideRight o-aside-Item")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
