//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            
            div(class="row mt40 ")
                div(class="row-flex m-a")
                    div(class="col-flex-sm12 col-flex-md4 col-center showTo-md")
                        img(src="unit_1/module_4/assets/images/col_4.png", alt="" class="u-responsive-img mt20")
                    div(class="col-flex-sm12 col-flex-md6 mt60 col-center")
                        div(class="c-cardGreen"): div(class="c-cardGreenContent ")
                            p Give us your opinion: UBER cap or taxis? Record it for two minutes. Send the file to your tutor.
                        //- button(class="c-btn-Icon u-bgIconListen mt30 ancho40 h40" ng-audio="unit_1/module_2/assets/audios/col_4_1.mp3")
                        //- button(class="c-btn-Icon u-bgIconRecord mt30 ancho40 h40")
                        div(class="row c-ngRecorder" ng-audio-recorder id="mainAudio" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod4_mycol4',1)")
                                
                                div(class="c-ngRecorder-alert" ng-if="recorder.status.isDenied === true") Permission to use your microphone was declined, please refresh this page to grant permission.
                                |
                                div(class="c-ngRecorder-panel"  ng-if="recorder.isAvailable")
                                    div(class="c-ngRecorder-controls" ng-hide="recorder.status.isDenied === true")
                                        button(ng-click="recorder.status.isRecording ? recorder.stopRecord() : recorder.startRecord()" 
                                            type="button" class="c-btn-Icon u-bgIconRecord c-ngRecorder-controls--btnRecord" 
                                            ng-class!="{'btn-primary': !recorder.status.isRecording, 'is-active': recorder.status.isRecording}")
                                            span {{recorder.status.isRecording ? 'Stop' : 'Start '}} 
                                            span(class="ml10" ng-show="recorder.status.isRecording === false") Recording
                                            span(class="c-ngRecorder-timer ml10" ng-if="recorder.status.isRecording") {{recorder.elapsedTime <= 60 ? (' 0'+recorder.elapsedTime) : recorder.elapsedTime}} 
                                                sub seg.
                                        |
                                        button(class="c-btn-Icon c-ngRecorder-controls--btnListen" 
                                            type="button" 
                                            ng-class="{'u-bgIconPlay': (recorder.status.isPaused || recorder.status.isStopped), 'u-bgIconPause': recorder.status.isPlaying}" 
                                            ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()" 
                                            ng-disabled!="recorder.status.isRecording || !recorder.audioModel")
                                            span(ng-if="recorder.status.isPaused || recorder.status.isStopped"): span Send
                                            span(ng-if="recorder.status.isPlaying"): span pause
                                        |
                                |
                                div(class="c-ngRecorder-alert" ng-if="recorder.status.isConverting") 
                                    p Please wait while we process your recording
                                |
                                div(class="c-ngRecorder-canvas" canvas-sizer)
                                    div(ng-show="recorder.status.isRecording" class="c-ngRecorder-canvasRecorder")
                                        ng-audio-recorder-analyzer( max-width="100%" max-height="70px" width="400" height="50" wave-color="white")

                                    div( class="c-ngRecorder-canvasAudio" ng-show!="!recorder.status.isRecording && recorder.audioModel")
                                        ng-audio-recorder-wave-view( wave-color="silver" bar-color="red")
                       
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        //- button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")                                                        
